{% extends "template.html.twig" %}

{% block main %}
    {% if adverts|length %}
        <input id="address" type="hidden" name="establishment_address" value= {{ establishment.address }} />
        <input id="city" type="hidden" name="establishment_city" value= {{ establishment.city }} />
        <div class="list-container">
        
            <div class="resultat">
                <h1>Annonce(s) de covoiturage disponible pour le 
                    <i class="lightgreen">{{ establishment.name }}
                    </i>
                </h1>
                <div id="map">
                    {% javascripts 'js/googlemap/googlemaplist.js' %}
                        <script src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                    <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzt2tJdYaa2BW4xbkIMVipyKQAvuFr71w&callback=initMap">
                    </script>
                </div>
                <h2>
                    <b class="lightgreen">{{ adverts|length }}</b> 
                    annonce(s) trouvé(s)
                </h2>
            </div>
            <div class="choice-container">
                <button id="offers" class="logo choice selected offres">
                    Afficher les offres de covoiturage
                </button>
                <button id="asks" class="logo choice demandes">
                    Afficher les demandes de covoiturage
                </button>
            </div>
            <div class='offers-container'>
            {% for advert in adverts if advert.type.type == "Offre" %}
                <div class="etablishment-container">
                    <div class='sumup'>
                        <div class="etinfos-container">
                            <h2> <i class="lightgreen">{{ advert.user.username }}</i> propose du covoiturage!</h2>
                            <p>{{ advert.description }}</p>
                        </div>
                        <div class="redirect-container">
                            <button class="logo menudown lightgreen">
                                Plus d'infos
                            </button>
                            <input type='hidden' value={{advert.startingPoint}} />
                        </div>
                    </div>
                    <div class="userinfo hidden">
                        <div class='sumup'>
                            <div class='coordonate'>
                                <p class='logo phone lightgreen'><span class='black'>Numéro de téléphone : </span><b>{{ advert.user.telephone }}</b></p>
                                <p class='logo mail lightgreen'><span class='black'>Email : </span><b>{{ advert.user.mail }}</b></p>
                                <p class='logo date lightgreen'><span class='black'>Fini sa formation le   : </span><b>{{ advert.user.expire|date('d/m/Y') }}</b></p>
                            </div>
                            <a class="logo redirect alignselft lightgreen" href=''>Ca m'intéresse!</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="etablishment-container">
                    <h2>Aucune offre de covoiturage pour le moment</h2>
                </div>
            {% endfor %}
            </div>
            <div class='ask-container'>
            {% for advert in adverts if advert.type.type == "Demande" %}
                    <div class="etablishment-container">
                        <div class='sumup'>
                            <div class="etinfos-container">
                                <h2><i class="darkgreen">{{ advert.user.username }}</i> cherche à faire du coivoiturage !</h2>
                                <p>{{ advert.description }}</p>
                            </div>
                            <div class="redirect-container">
                                <button class="logo menudown darkgreen">Plus d'infos</button>
                                <input type='hidden' value={{advert.startingPoint}} />
                            </div>
                        </div>
                        <div class="userinfo hidden">
                            <div class='sumup'>
                                <div class='coordonate'>
                                    <p class='logo phone darkgreen'><span class='black'>Numéro de téléphone : </span><b>{{ advert.user.telephone }}</b></p>
                                    <p class='logo mail darkgreen'><span class='black'>Email : </span><b>{{ advert.user.mail }}</b></p>
                                    <p class='logo date darkgreen'><span class='black'>Fini sa formation le   : </span><b>{{ advert.user.expire|date('d/m/Y') }}</b></p>
                                </div>
                                <a class="logo redirect car darkgreen" href=''>Je lui propose du covoiturage!</a>
                            </div>
                        </div>
                    </div>
            {% else %}
                    <div class="etablishment-container">
                        <h2>Aucune demande de covoiturage pour le moment</h2>
                    </div>
            {% endfor %}
            </div>
            <a class="logo car newadvert" href= "{{ path('new_advert', {'region': establishment.name|lower|replace(' ', '+')}) }}">Créez votre propre annonce de covoiturage !</a>
        </div>
    {% else %}
        <div class="list-container">
                <div class="resultat">
                    <h2>Aucune annonce de co-voiturage disponible pour le <i class='lightgreen'>{{ establishment.name }}</i></h2>
                </div>                        
                <a class="logo car newadvert" href= "{{ path('new_advert', {'region': establishment.name|lower|replace(' ', '+')}) }}">Soyez alors le premier à créer une annonce !</a>
          </div>
    {% endif %}
{% endblock %}