{% extends 'template.html.twig' %}

{% block main %}
    <div class="search-container">
        <label class="logo search" for="search">Trouvez votre centre : </label>
        <form class="formsearch" method="post" action={{ path('inputsearch') }}>
            <input id="afpasearch" name="search" type="search" placeholder="Entrez un code postal, une adresse ou une ville">
            <input id="searchyeah" class="logoinline darkgreen" type="submit" value="&#xf002" />
        </form>
        {#{{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}#}
    </div>
    <div class="map">
        <div id="cmap"></div>
        {% block javascripts %}
            {% javascripts 'js/map/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </div>
{% endblock %}