{% extends 'template.html.twig' %}
{% block main %}
    <div class="column-wrapper">
        <div class="title-container">
        <h1 class="logo signup darkgreen">Créer un compte</h1>
        </div>
        <span class="warning tip logo lightgreen"><i>Tout les champs suivants sont obligatoires.</i></span>
        {% if not form.vars.valid %}
        <div class="dialog" title="Echec lors de la création du compte">
            <ul>
            {% for child in form.children %}
                {# Display the errors of the form item #}
                {%for error in child.vars.errors%}
                    <li>{{error.message}}</li>
                {%endfor%}
            {%endfor%}
            </ul>
       </div>
        {% endif %}
        {{ form_start(form, {'attr': {'class': 'column-wrapper'} }) }}
            <div>
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            </div>
            <div>
            {{ form_label(form.mail) }}
            {{ form_widget(form.mail) }}
            </div>
            <div>
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
            </div>
            <div>
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
            </div>
            <div>
            {{ form_label(form.region) }}
            {{ form_widget(form.region) }}
            </div>
            <div>
            {{ form_label(form.expire) }}
            {{ form_widget(form.expire) }}
            </div>
            <div class="subtmit-container">
                <button class='inputfont' type="submit">Créez votre compte!</button>
            </div>
        {{ form_end(form) }}
        
    </div>
{% endblock %}