{% extends "template.html.twig" %}

{% block main %}
    {% if establishments|length %} 
    <div class="list-container">
            <div class="resultat">
                <h1>Resultat de la recherche pour : <i class="lightgreen">{{ filter }}</i></h1>
                <h2><b class="lightgreen importanto">{{ establishments|length }}</b> centre(s) trouvé(s)</h2>
            </div>
            <label class="logo search research" for="search">Vous n'avez pas trouvé ce que vous cherchiez ? </label>
            <form class="formsearch" method="post" action={{ path('inputsearch') }}>
                 <input id="afpasearch" name="search" type="search" placeholder="Entrez un code postal, une adresse ou une ville">
                 <input id="searchyeah" class="logoinline darkgreen" type="submit" value="&#xf002" />
            </form>
    {% for establishment in establishments %} 
            <div class="etablishment-container fixmyproblems">
                <div class="etinfos-container">
                    <h2 class="lightgreen">{{ establishment.name }}</h2>
                    <p>{{ establishment.address }}</p>
                    <p>{{ establishment.postal }} {{ establishment.city }} </p>
                </div>
                <form action= "{{ path('advert', {'region': establishment.name|lower|replace(' ', '-')}) }}" 
                      method="post"
                      class="redirect-container margin-right">
                    <input type="hidden" name="establishment_id" value= {{establishment.id}} />
                    <button class="logo redirect darkgreen" type="submit">Voir la fiche de covoiturage !</button>
                </form>
            </div>
    {% endfor %}
    </div>
    {% else %}
        <div class="list-container">
                <div class="resultat">
                     <h1>Désolé, aucun résultat pour la recherche : <i class="lightgreen">{{ filter }}</i></h1>
                </div>
                <label class="logo search research" for="search">Recommencez votre recherche : </label>
                <form class="formsearch" method="post" action={{ path('inputsearch') }}>
                    <input id="afpasearch" name="search" type="search" placeholder="Entrez un code postal, une adresse ou une ville">
                    <input id="searchyeah" class="logoinline" type="submit" value="&#xf002" />
                </form>
          </div>
    {% endif %}
{% endblock %}
