<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Afpacar</title>
        {% block stylesheets %}
            {% stylesheets 'css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type=text/css href="https://fonts.googleapis.com/css?family=Raleway"> 
        {% endblock %}
    </head>
    <body>
        <header>
            <div class= "header-container">
                <a class="logosite" href="{{ path('index') }}">
                    {% image 'images/logo.jpg' %}
                        <img src="{{ asset_url }}" alt="Example" />
                    {% endimage %}
                </a>
                <div class="log-container">
                     {% if app.user %}
                            <a class="logo signin coollinks" href="{{ path('profile', { username : app.user.username }) }}">{{ app.user.username }}</a>
                            <a class="logoinline coollinks" href="{{ path('logout') }}">&#xf011</a>
                            <a class="logoinline coollinks" href="{#{{ path('privatemessage') }}#}">&#xf0e0</a>
                            <a class="logoinline coollinks" href="{#{{ path('carpoolings') }}#}">&#xf1b9</a>
                      {% else %}
                            <a class="logo signin coollinks" href="{{ path('login') }}">Connectez-vous</a>
                            <a class="logo signup coollinks" href="{{ path('register') }}">Créez un compte</a>
                       {% endif %}     
                </div>
            </div>
        </header>
        <div class="main-container">
            {% block main %}
                
            {% endblock %}
        </div>
        
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link type="text/css"
        href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    {% block javascripts %}
        {% javascripts 'js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</html>

